//
   Created by riansyahPC on 11/27/2015.

extends layoutBelanja
append content
   .col-sm-1
   .col-sm-6
      .row
         .col-sm-2: img(src='/images/default-user-photo.png')
         .col-sm-4
            table.table
               tr: td: button.btn.btn-danger ubah
               tr: td: b Muhammad Riansyah
               tr: td  mriansyah@gmail.com
               tr: td  085756603194
               tr: td  8 Desember 1993
               tr: td  Wua-wua, Kota Kendari,Sulawesi Tenggara, Indonesia

