html(lang='en')
   head
      script(src='/javascripts/datatables.min.js')
      link(href='/stylesheets/datatables.min.css' rel='stylesheet')
      script.
         $(document).ready(function () {
            $('#dataTables-example').dataTable();
         });
   body
      div.table.table-responsive
         table.table.table-striped.table-bordered.table-hover#dataTables-example
            thead.panel.panel-primary
               tr.panel.panel-primary
                  th kolom 1
                  th kolom 2
            tbody
               - for(var n=0;n<100;n++)
                  tr
                     td='kolom 1 baris' + n
                     td='kolom 2 baris' + n
