
append header
    header#headerMobile
        nav.navbar(role='navigation', style='margin-bottom: 0')
            .navbar-header.pull-left
                button#c-button--push-left.navbar-toggle.collapsed(style='display:block;border-color : white')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .navbar-header.pull-right
                a(href='/'): img(src='/images/cart.png', width='40px')
            .row
                center: a(href='/'): img(src='/images/logo-putih.png', width='100px')
        .row
            form(action='/cekPencarian', method='get')
                table(width='100%')
                    tr
                        td &nbsp;
                        td: input.form-control(type='text', placeholder='Cari Produk')
                        td(width='20%'): input.btn-primary.form-control(type='submit', value='cari')
                        td &nbsp;
                    tr: td &nbsp;





