doctype html
html(lang='en')
    head
        title Home | E-Shopper
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
        link(href='/stylesheets/push-left-menu.min.css', rel='stylesheet')
        link(href='/stylesheets/main.css', rel='stylesheet')

body
        include header
    #o-wrapper.o-wrapper <br/><br/>
        .container
            .row
                .col-sm-12
                    block content

    nav#c-menu--push-left.c-menu.c-menu--push-left(style='background-color: #524D4D;')
        if (session.nama)
            ul.c-menu__items
                li.c-menu__item
                    .well
                        p: img(src='/images/mobile-userphoto.png')
                        p Muhammad Riansyah
                        p Toko :
                            a(href='#') Barokah Clothing
                li.c-menu__item
                    a.c-menu__link(href='/') Beranda
                li.c-menu__item
                    a.c-menu__link(href='#menu-pembelian', data-toggle='collapse') Pembelian
                    ul#menu-pembelian.collapse
                        li: a.c-menu__link(href='flot.html') Pesanan Dibatalkan
                        li: a.c-menu__link(href='flot.html') Konfirmasi Pembayaran
                        li: a.c-menu__link(href='flot.html') Status Pemesanan
                        li: a.c-menu__link(href='flot.html') Konfirmasi Penerimaan
                        li: a.c-menu__link(href='flot.html') Daftar Transaksi
                li.c-menu__item
                    a.c-menu__link(href='#menu-penjualan', data-toggle='collapse') Penjualan
                    ul#menu-penjualan.collapse
                        li: a.c-menu__link(href='flot.html') Pesanan Baru
                        li: a.c-menu__link(href='flot.html') Konfirmasi Pengiriman
                        li: a.c-menu__link(href='flot.html') Status Pengiriman
                        li: a.c-menu__link(href='flot.html') Daftar Transaksi
                li.c-menu__item
                    a.c-menu__link(href='/keluar') Keluar
        else
            ul.c-menu__items
                li.c-menu__item
                    .well
                        p: img(src='/images/banner.png')
                li.c-menu__item
                    a.c-menu__link(href='/') Beranda
                li.c-menu__item
                    a.c-menu__link(href='#masuk', data-toggle='collapse') Masuk
                li#masuk.collapse
                    form(method='post',style='padding : 20px',action='/cekloginmobile')
                        p: input(name='email', type='text', placeholder='Email')
                        p: input(name='sandi',type='password', placeholder='Sandi')
                        p: input.btn.btn-primary(type='submit' value='Masuk')
                li.c-menu__item
                    a.c-menu__link(href='#') Daftar
    #c-mask.c-mask
script(src='/javascripts/push-left-menu.js')
script.
    var pushLeft = new Menu({
        wrapper: '#o-wrapper',
        type: 'push-left',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });
    var pushLeftBtn = document.querySelector('#c-button--push-left');
    pushLeftBtn.addEventListener('click', function (e) {
        e.preventDefault;
        pushLeft.open();
    });

append footer
    footer#footer
        br
        center: a(href='#') >> kembali ke atas
        .footer-bottom

            .container
                .row
                    p.pull-left © 2015 pasarmantap
                    p.pull-right
                        | Designed by
                        span
                            a(target='_blank', href='http://www.themeum.com') Themeum
        // untuk menu toggle , tergantung ke jquery
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/bootstrap-3.3.5.min.js')