extends ../layoutBelanja
append content
  .col-sm-1
  .col-sm-10
     .row
        center(style='font-size: 13pt') <b > Pembayaran </b>  >  Konfirmasi Pembayaran
      br
     .alert.alert-warning
      p Silakan Pilih metode pembayaran yang ingin Anda gunakan kemudian pastikan kembali daftar belanjaan Anda. Jika anda sudah yakin, silakan klik tombol "Checkout".
     .container
      h4 Pilih Metode Pembayaran yang ingin digunakan
     .container
       .row
           each val in cart
               p=val.product
               p=val.jumlah
